
//form.html
.bt-salvar:hover {
background-color: #0056b3;
}

.bt-salvar {
display: inline-block;
padding: 10px 20px;
font-size: 1rem;
font-weight: 500;
color: #fff;
background-color: #007bff;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.2s, transform 0.1s;
}

.bt-salvar:active {
transform: scale(0.97);
}

.bt-salvar:disabled {
background-color: #999;
cursor: not-allowed;
}

.botao_dex {
    position: relative;
    overflow: hidden;
    background-color: white;
    color: #00c2b2;
    border: 2px solid #00c2b2;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    }

.botao_dex::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #00c2b2;
    transition: left 0.3s ease;
    z-index: -1;
}

.botao_dex:hover::before,
.botao_dex:active::before {
    left: 0;
    }

.botao_dex:hover,
.botao_dex:active {
    color: white;
    transform: translatex(5px);
    transition: transform 0.3s ease, color 0.3s ease;
}

.input[type="text"], select {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    border: 2px solid #00c2b2;
    border-radius: 25px;
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
    color: #fff;
    outline: none;
    background-color: transparent;
    transition: ease-out 0.4s;
    box-shadow inset 0 0 0 0 #00c2b2;
}

.input[type="text"]:focus, select:focus {
    box-shadow: inset 400px 0 0 0 #00c2b2;
    color: #162944;
    background-color: #00c2b2;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    transition: ease-out 0.4s;
}

.input:focus::placeholder {
    color: transparent;
}

.input[type="number"] {
    border: 2px solid #1abc9c;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    background-color: #0f1a2b;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
    }

.input[type="number"]:focus {
    border-color: #16f7cc;
    box-shadow: 0 0 8px #16f7cc;
    }

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type="number"]::-webkit-inner-spin-button {
    background-color: #1abc9c;
    widht: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointers;
}

.input[type="number"] {
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    }

.input[type="number"]:focus {
    transform: scale(1.05);
    }

.habilidade {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    }

.icone {
    margin-right: 10px;
    }

.dados input {
    display: block;
    margin-bottom: 5px;
    }

.habilidade-bloco {
    margin-bottom: 20px;
    }

.campos-com-icone {
    display: flex;
    align-items: center;
    }

.campos-texto {
    flex: 1;
    }

.icone-habilidade {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    }

.botao-voltar {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #3454D1;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    }

.botao-voltar: hover {
    background-color: #1f33a8;
    }

//lista.html
<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

.background {
    background-image: url('/Logo/league.jfif');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
    }

.campeao-card {
    flex: 1;
    background-color: rgba(0, 194, 178, 0.4);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 194, 178, 0.4);
    transition: transform 0.3s ease, shadow 0.3s ease;
    color: white;
    }

.campeao-card:hover {
    transform: translatey(-5px);
    box-shadow: 0px 8px 16px rgba(0, 194, 178, 0,7);
    background-color: rgba(0, 194, 178, 0.5);
    cursor: pointer;
}

button {
    margin-left: 10px;
}

body {
   background-image: url('/Logo/league.jfif');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: white;
   font-family: Arial, sans-serif;
   }

.container {
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    }

campeoes.grid {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    }

.splash-recorte {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    }

.habilidade {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    }

.icone {
    width: 32px;
    height: 32px;
    transition: transform 0.2s;
    }

.icone:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.containers {
    padding: 2rem;
    }

.h1 {
    margin-bottom: 2rem;
    text-align: center;
    }

campeoes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    }

.card {
    background-color: #161b22;
    padding: 1rem;
    border: 2px solid #30363d;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }

.splashart {
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 8px;
    }

.campeao-nome {
    margin-top: 0.75rem;
    font-size: 1.2rem;
    font-weight: bold;
    }

.habilidades {
    margin-top: 0.5rem;
    }

.icone-habilidades {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    margin-bottom:  10px;
    justify-content: center;
}

.icone-campeao {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
  transition: box=shadow 0.3 ease; transform 0.3 ease;
}

.icone-campeao:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}

.botao-editar {
     position: relative;
     overflow: hidden;
     background-color: white;
     color: #00c2b2;
     border: 2px solid #00c2b2;
     padding: 10px 20px;
     font-weight: bold;
     cursor: pointer;
     transition: color 0.3s ease;
     }

 .botao-editar::before {
     content: "";
     position: absolute;
     top: 0;
     left: -100%;
     width: 100%;
     height: 100%;
     background-color: #00c2b2;
     transition: left 0.3s ease;
     z-index: -1;
 }

 .botao-editar:hover::before,
 .botao-editar:active::before {
     left: 0;
     }

 .botao-editar:hover,
 .botao-editar:active {
     color: white;
     transform: translatex(5px);
     transition: transform 0.3s ease, color 0.3s ease;
 }

.habilidades-icon {
   width: 40px;
   height: 30px;
   object-fit: contain;
   border-radius: 5px;
   }

.tooltip-container {
    display: inline-block;
    position: relative;
}

.tooltip-video {
  position: absolute;
  top: 60%; /* aparece abaixo do ícone */
  left: 100%;
  transform: none;
  z-index: 1000;
  width:300px;
  height: 180px;
  background: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  flex-shrink: 0;
}

.maestria {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  background-color: #000;
  padding: 4px;
  box-shadow: 0 0 10px gold;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

.maestria:hover {
    box-shadow: 0 0 15px gold;
    transform: scale(1.1);
}

.topo-info {
    display: flex;
    justify-content: center;
    align-item: center;
    gap: 10px;
    margin-bottom: 10px}

.button_slide {
    color: #fff;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 12px 24px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #d80286;
    transition: ease-out 0.4s;
    background: none;
    }

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #d80286;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    }

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    }

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    }

.botao-save {
    position: relative;
    overflow: hidden;
    background-color: white;
    color: #00c2b2;
    border: 2px solid #00c2b2;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.botao-save span {
    position: relative;
    z-index: 2; /* texto sempre na frente */
}

.botao-save::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #00c2b2;
    transition: left 0.3s ease;
    z-index: 1; /* não usa mais negativo */
}

.botao-save:hover::before,
.botao-save:active::before {
    left: 0;
}

.botao-save:hover,
.botao-save:active {
    color: white;
    transform: translateX(5px); /* corrigi o X maiúsculo */
}
