<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Campeão</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Cadastro de Campeão</h1>

<form th:action="@{/campeoes/salvar}" method="post" th:object="${campeao}">
    <label for="nome">Nome do Campeão:</label>
    <input type="text" class="input" th:field="*{nome}" id="nome">

    <label for="lane">Lane:</label>
    <input type="text" class="input" th:field="*{lane}" id="lane">

    <label for="role">Função (role):</label>
    <input type="text" class="input" th:field="*{role}" id="role">

    <label for="maestria">Maestria:</label>
    <input type="number" class="input" th:field="*{maestria}" id="maestria">
    <img th:src="@{'/maestria/' + ${campeao.maestria} + '.jfif'}" alt="icone de maestria">

    <!-- Splash art -->
    <div id="splashContainer" style="margin-top: 20px;">
        <img id="splashArt" style="max-width: 300px; display: none;">
    </div>

    <div id="habilidades">
        <div id="card-Passive" class="card"></div>
        <div id="card-Q" class="card"></div>
        <div id="card-W" class="card"></div>
        <div id="card-E" class="card"></div>
        <div id="card-R" class="card"></div>
    </div>

    <a href="/campeoes/lista" class="botao-save"><span>Ver Campeões</span></a>
    <button type="submit" class="botao-save"><span>Salvar Campeão</span></button>
</form>

<script src="/js/novo.js"></script>
</body>
</html>
