<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Campeão</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<div class="container"></div>
    <h1>Editar Campeão</h1>

    <form th:action="@{/campeoes/salvar}" th:object="${campeao}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{nome}" required><br>

        <label for="lane">Lane:</label>
        <input type="text" id="lane" th:field="*{lane}" required><br>

        <label for="role">Role:</label>
        <input type="text" id="role" th:field="*{role}" required><br>

        <label for="nivelMaestria">Nível de Maestria:</label>
        <input type="number" id="nivelMaestria" th:field="*{nivelMaestria}" min="1" required><br>

        <button type="submit">Salvar Alterações</button>
    </form>

    <a th:href="@{/api/campeoes/campeoes}">Voltar para a lista</a>

</body>
</html>
